[submodule "monit"]
	path = monit
	url = git@github.com:gon/chef-monit.git
[submodule "redis"]
	path = redis
	url = git@github.com:gon/redisio.git
[submodule "ulimit"]
	path = ulimit
	url = git@github.com:gon/chef-ulimit.git
[submodule "redisio"]
	path = redisio
	url = git@github.com:brianbianco/redisio.git
[submodule "opsworks_custom_env"]
	path = opsworks_custom_env
	url = git@github.com:gon/opsworks_custom_env.git
